# Ignore all binaries
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.sln
*.opensdf
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb
*.VC.VC.db
*.xcodeproj
*.xcworkspace
*.xcuserdata

# Ignore specific build tool folders
Build/Android/*
Build/IOS/*
Build/Build.version

# Ignore Mac-specific files
.DS_Store

# Ignore Windows-specific files
Thumbs.db

# Ignore custom user settings
*.user
*.userprefs

# Ignore temporary files
*.swp
*.tmp
*.log

# Ignore project autosaves
Autosaves/

# Ignore crash logs and reports
CrashReportClient/

# Ignore UBT configuration
Saved/Logs/
Saved/Cooked/
Saved/Config/Windows/
Saved/Backup/
Saved/Logs/
Saved/Temp/
Saved/EditorTelemetry/

# Mac OS X
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*

Content/Low_Poly_Town/Map/Map_1_BuiltData.uasset
Content/Low_Poly_Town/Map/Map_2_Mobile_BuiltData.uasset
